<!-- views/home.ejs -->
<!doctype html>
<html>
<head>
    <html lang="en"> <!--TODO: Change to it, and set to en when translated-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>I Cecchini Del Mare</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" 
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
    <script src="js/js.cookie.js"></script>
    <script type="text/javascript" src="js/translation.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body data-ng-app="ICDM" data-ng-controller="ctrl">

<div id="header">
  <a target="_blank" href="" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-info-sign"></span> About </a>
  <a target="_blank" href="" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-question-sign"></span> FAQ </a>
  <a target="_blank" href="" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-envelope"></span> Contacts </a>
  <a target="_blank" href="https://www.facebook.com/groups/cecchinidelmare/" class="btn btn-primary btn-sm">
    <span class="fa fa-facebook"></span> Facebook page </a>

  <a id="langSelector" class="btn btn-primary btn-sm">
    <span class="fa fa-language"></span> Language <img src="img/flags/us.gif"> </a>

  <a id="logout" href="/logout" class="btn btn-danger btn-sm">
    <span class="fa fa-power-off"></span> Logout </a>
</div>



<div class="container">

<script>
// The chat needs "user" so keep this before chat.js
var user = <%- JSON.stringify(user) %>;
</script>

<!--Chat-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="js/chat.js"></script>


<div class="row">

<div id="topMap">
  <a onclick="eraseLocation()" class="btn btn-default btn-sm">
    <span class="fa fa-ban"></span> Erase Location </a>

  <a onclick="broadcastLocation()" class="btn btn-default btn-sm">
    <span class="fa fa-map-marker"></span> Broadcast Location </a>
</div>

    <!-- MAP -->
    <div id="map"></div>
    <script type="text/javascript" src="/js/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa0eg5dlngFtHj19frzBL-3tPDaz67g-U&callback=initMap">
    </script>


    <!--TODO: Make actual profile page with settings-->
		<!--TODO: Remove FACEBOOK INFORMATION -->
        <!--

        <% if (user.facebook.token) { %>
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
        -->
              <!--                  
                TODO: The src here doesn't match the css rule because of the spaces
                at the start and at the end
                <p> 
                	<strong>Picture in img</strong>: <img src=" <%= user.facebook.picture %> "> <br> 
                    <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br>
                    <strong>email</strong>: <%= user.facebook.email %><br>
                    <strong>name</strong>: <%= user.facebook.name %><br> 
                    <strong>Position</strong>: Lat: <%= user.lat %> Lng: <%= user.lng %>
                </p>

            </div>
        </div>
        <% } %>
        -->

        <!--TODO: Remove GOOGLE INFORMATION 
        <% if (user.google.token) { %>
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
                <p>
                	<strong>Picture in img</strong>: <img src=" <%= user.google.picture %> "> <br> 
                    <strong>id</strong>: <%= user.google.id %><br>
                    <strong>token</strong>: <%= user.google.token %><br>
                    <strong>email</strong>: <%= user.google.email %><br>
                    <strong>name</strong>: <%= user.google.name %><br>
                    <strong>Position</strong>: Lat: <%= user.lat %> Lng: <%= user.lng %>
                </p>
            </div>
        </div>
        <% } %>
-->


	</div>

    <!--Contacts TODO: Maybe have green or Grey circle for Online/Offline status before names-->
    <!--TODO: Only show friends in online and offline contacts, and everyone else in nearby-->
    <div id="contactsBox">
        <div id="contactsHandle"> <span id="contactsSpan">Contacts</span> </div>
        <div><p class="tab" id="onlineTab">Online Contacts</p> 
            <div id="showOnlineContacts">
                <!--Online-->
                <!--ng-repeat-->
                <ul class="contactsUL">
                <li data-ng-repeat="contact in contactsListGET | filter:searchNG | filter:'!'+ssID | isContact:localContacts:true" class="contactClass" data-contactID="{{contact.id}}" data-contactPicture="{{contact.picture}}" data-contactEmail="{{contact.email}}"> {{contact.name}} </li>
                </ul>
            </div>
        </div>
        <div><p class="tab" id="offlineTab">Offline Contacts</p> 
            <div id="showOfflineContacts">
                <!--Offline TODO: Remove this section from here and put it in a separate "contacts" tab, like in fb-->
                <!--ng-repeat-->
                <ul class="contactsUL">
                <li data-ng-repeat="contact in localContacts | filter:searchNG | filter:'!'+ssID | isContact:contactsListGET:false" class="contactClass" data-contactID="{{contact.id}}" data-contactPicture="{{contact.picture}}" data-contactEmail="{{contact.email}}"> {{contact.name}} </li>
                </ul>

                
            </div>
        </div>
        <div><p class="tab" id="nearbyTab">People Nearby</p> 
            <div id="showNearby">
                <!--Nearby-->
                <!--ng-repeat-->
                <ul class="contactsUL">
                <li data-ng-repeat="contact in contactsListGET | filter:searchNG | filter:'!'+ssID | isContact:localContacts:false" class="contactClass" data-contactID="{{contact.id}}" data-contactPicture="{{contact.picture}}" data-contactEmail="{{contact.email}}"> {{contact.name}} </li>
                </ul>
            </div>
        </div>
    <input id="searchField" type="text" name="search" placeholder="&#128269; Search" data-ng-model="searchNG"/>
    </div>
    <!--/Contacts-->

    <!--TODO: Remove 
    Session ID: {{ssID}}
    -->

</div>
</body>
</html>
